<%-include("../partials/header")%>
<header class="jumbotron">
    <div class="container">
        <h1>Welcome to TimeAgent!</h1>
		<p>Keep track of your tasks and be always carefree of not forgetting something crucial.</p>
		<p>Organise your academic life and never be late again</p>
        <p><a class="btn btn-primary btn-lg" href="/tasks/new">Add new Task</a></p>
    </div>
</header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Take a look at your future tasks</h3>
        </div>
    </div>

<div class="row" style="display-flex; flex-wrap: wrap;">
        <% tasks.forEach(function(task){ %>
            <div class="col-md-3 col-sm-6">
                <div class="grid-container">
                    <div class="caption">
                        <h4><%= task.name %></h4>
					</div>
					
					<div>
						<p>
							<a href="/tasks/<%= task._id %>" class="btn btn-primary">More Info</a>
						</p>
					</div>    
            	</div>
        <% }); %>
    </div>
<%-include("../partials/footer")%>

